body {
    margin:0;
    padding:0;
    background: linear-gradient(45deg,#FFB6C1,#BA55D3,#8B008B)}



.title { display: block;
            width: 75%;
            border:1px solid black;
            letter-spacing: 2px;
            text-align: center;
            font-size: 120px;
            margin: 0 auto;
            margin-top: 200px;
            background-color: rosybrown;
            transition: .5s;
            }

.title:hover{width: 100%;}


.list{
    display: block;
    box-sizing: border-box;
    padding: 50px;
    font-family: cursive;
    font-size:20px;
    font-weight: bold;
    border: 3px solid red;
    margin: 0 auto;
    margin-top: 20px;
    background-color:pink;
    width:80%;
    }

span{ color:red;}